doctype html
html(lang='es')
    head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css')
    body.teal.darken-3(style='text-align:center;')
      div.card-panel.teal(style='margin:5%; margin-top:30%;')
        form(method='POST', action='/')
          h1(style='font-size:2em;') Ingresa paradero
          input(type='text', name='id')
          button(type='submit') Buscar
