doctype html
html(lang='es')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css')
    script(href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js')
  body.teal.darken-3
    img(src='https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Transantiago_Logo.svg/1280px-Transantiago_Logo.svg.png',style='width: auto; height:auto; max-height:50px')
    table
      thead
        tr
          th Servicio
          th Distancia
          th Llegada
      tbody
        for s in services
          for b in s.buses
            tr
              td.teal.lighten-2=`MICRO: ${s.service}`
              td.teal.lighten-2=`DISTANCIA: ${b.dist}`
              td.teal.lighten-2=`Llegada: ${b.arrivaltime}`


